*:first-child{margin-top: 0}
body{background-color: #f3f3f3;color: #444; padding-bottom:40px;}
table{width: 100%;vertical-align: top}
label{font-weight: normal;font-size: 14px;display: block;}
.text-muted{color:#aaa;}
.hr-small{margin:5px 0;}
.icons{float: right;font-size: 16px;}
.icons *{margin-left: 5px}
.isoform-messages{margin-top: 5px;font-size: 14px}
.navbar{border-radius: 0}
.navbar-toggle{margin-top: 8px;}
.pagination a{padding:4px 10px !important;font-size: 10px;}
.pagination{margin-bottom: 0}
.pagination .disabled{opacity: .5;}
.panel .panel-heading{text-transform: none;text-align: center;
	border-bottom: 1px solid #ddd;
}
.container{max-width: 970px;}
.breadcrumb a{text-decoration: underline;}
.breadcrumb{
	background-color: transparent;
	padding-left: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}
[ng-cloak],[frontload]{display: none}
[ng-click]{cursor: pointer}
a.ti,a.glyphicon{text-decoration: none; cursor: pointer;}
.modal-dialog{padding-top: 20px;}
.breadcrumb{background-color: transparent;}
.blocker{
	display: none;
	position: fixed;
	top: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}

[route="login"] .table,[route="signup"] .table{
	table-layout: fixed;
}

form .table{
	table-layout: fixed;
}

.alert{text-align: center;}

.growl{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 250px;
	z-index:100000;
}
.modal-open .growl{right: 25px;}
.growl-item{
	margin-bottom: 10px;
	box-shadow: 1px 2px 3px -2px rgba(0,0,0,.5);
}

.project-title{
	color: inherit;
	font-size: 16px;
	font-weight: bold;
}

.request-button{width:100%;  font-size: 14px;}

.profile h1{margin-bottom:0px;}
.profile h2{
	margin: 0;
	font-size:24px;
	color:#666; 
}