body{background-color: #f3f3f3}
.navbar{background-color: #1c2b36 !important;}
.navbar-brand{color:white !important; font-weight: bold;}
.pagination a{padding:4px 10px !important;font-size: 10px;}
.pagination{margin-bottom: 0}

.container{max-width: 970px;}
.breadcrumb a{text-decoration: underline;}
.breadcrumb{
	background-color: transparent;
	padding-left: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}
[ng-cloak],[frontload]{display: none}
a.ti-link{text-decoration: none;}
*:first-child{margin-top: 0}
.modal-dialog{padding-top: 20px;}
.breadcrumb{background-color: transparent;}
.blocker{
	display: none;
	position: fixed;
	top: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}

[route="login"] .table,[route="signup"] .table{
	table-layout: fixed;
}

.panel-body{position: relative;}

.notification{
	position: absolute;
	right: -12px;
	top: -12px;
}