body{background-color: #f3f3f3;color: #444;}
label{font-weight: normal;font-size: 14px;display: block;}
.hr-small{margin:5px 0;}
.navbar{background-color: #1c2b36 !important;}
.navbar-brand{color:white !important; font-weight: bold;}
.pagination a{padding:4px 10px !important;font-size: 10px;}
.pagination{margin-bottom: 0}
.pagination .disabled{opacity: .5;}
.panel-heading .btn{text-transform: none}
.container{max-width: 970px;}
.breadcrumb a{text-decoration: underline;}
.breadcrumb{
	background-color: transparent;
	padding-left: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}
[ng-cloak],[frontload]{display: none}
a.ti,a.glyphicon{text-decoration: none; cursor: pointer;}
*:first-child{margin-top: 0}
.modal-dialog{padding-top: 20px;}
.breadcrumb{background-color: transparent;}
.blocker{
	display: none;
	position: fixed;
	top: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}

[route="login"] .table,[route="signup"] .table{
	table-layout: fixed;
}

.panel-body{position: relative;}

.notification{
	position: absolute;
	right: -12px;
	top: -12px;
}

[route="buckets/{bucket_id}/profiles/{profile_id}"] .clients{table-layout:fixed;}

[route="buckets/{bucket_id}/profiles/{profile_id}"] .client{
	font-size: 12px;
}
[route="buckets/{bucket_id}/profiles/{profile_id}"] .clients .btn{
	width: 100%;
}
[route="buckets/{bucket_id}/profiles/{profile_id}"] .clients td{
	height:48px;
}
form .table{
	table-layout: fixed;
}

.alert{text-align: center;}

.growl{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 250px;
	z-index:100000;
}
.modal-open .growl{right: 25px;}
.growl-item{
	margin-bottom: 10px;
	box-shadow: 1px 2px 3px -2px rgba(0,0,0,.5);
}